.main {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-color: #f16059;
}

.title {
    text-align: center;
    margin-top: 80px;
    font-family: 'Bungee Shade', cursive;
    font-size: 70px;
}

.timeHeader {
    text-align: center;
    font-size: 30px;
    font-family: 'Bungee', cursive;
    margin-bottom: -45px;
}

.time {
    text-align: center;
    font-size: 50px;
    font-family: 'Bungee', cursive;
}

.imageContainer {
    text-align: center;
    color: white;
}

.image {
    width: 50%;
}

.text {
    margin: -60px 0 100px 0;
    font: 2em/1em 'Open Sans', sans-serif;
}

.timeSetting {
    font-family: 'Bungee', cursive;
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center
}

.optionSelection {
    text-align: center;
}